name: Build and publish PostHog custom images

on:
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_PREFIX: ghcr.io/hexatare/posthog-railway-template
  POSTHOG_APP_TAG: 9373a2b55081d3e711ad58bca060a6a9ab5d41a5

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    strategy:
      matrix:
        include:
          - image: capture
            dockerfile: ./capture.Dockerfile
          - image: clickhouse
            dockerfile: ./clickhouse.Dockerfile
          - image: cyclotron-janitor
            dockerfile: ./cyclotron-janitor.Dockerfile
          - image: cymbal
            dockerfile: ./cymbal.Dockerfile
          - image: db
            dockerfile: ./db.Dockerfile
          - image: feature-flags
            dockerfile: ./feature-flags.Dockerfile
          - image: kafka-init
            dockerfile: ./kafka-init.Dockerfile
          - image: kafka
            dockerfile: ./kafka.Dockerfile
          - image: livestream
            dockerfile: ./livestream.Dockerfile
          - image: objectstorage
            dockerfile: ./objectstorage.Dockerfile
          - image: plugins
            dockerfile: ./plugins.Dockerfile
          - image: property-defs-rs
            dockerfile: ./property-defs-rs.Dockerfile
          - image: proxy
            dockerfile: ./proxy.Dockerfile
          - image: redis7
            dockerfile: ./redis7.Dockerfile
          - image: replay-capture
            dockerfile: ./replay-capture.Dockerfile
          - image: seaweedfs
            dockerfile: ./seaweedfs.Dockerfile
          - image: temporal-django-worker
            dockerfile: ./temporal-django-worker.Dockerfile
          - image: temporal
            dockerfile: ./temporal.Dockerfile
          - image: web
            dockerfile: ./web.Dockerfile
          - image: worker
            dockerfile: ./worker.Dockerfile
          - image: zookeeper
            dockerfile: ./zookeeper.Dockerfile

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Clone PostHog repository
        run: |
          git clone --filter=blob:none https://github.com/PostHog/posthog.git ./posthog

      - name: Checkout to POSTHOG_APP_TAG
        working-directory: ./posthog
        run: |
          git checkout ${{ env.POSTHOG_APP_TAG }}

      - name: Download GeoIP database
        run: |
          apt-get update &&
          apt-get install -y --no-install-recommends curl ca-certificates brotli &&
          mkdir -p ./share &&
          if [ ! -f ./share/GeoLite2-City.mmdb ]; then
              curl -L 'https://mmdbcdn.posthog.net/' --http1.1 | brotli --decompress --output=./share/GeoLite2-City.mmdb &&
              echo '{\"date\": \"'"$(date +%Y-%m-%d)"'\"}' > ./share/GeoLite2-City.json;
              chmod 644 ./share/GeoLite2-City.mmdb &&
              chmod 644 ./share/GeoLite2-City.json
          fi

      - name: Write entrypoint
        run: |
          rm -rf compose
          mkdir -p compose
          cat > compose/start <<EOF
          #!/bin/bash
          ./compose/wait
          ./bin/migrate
          ./bin/docker-server
          EOF
          chmod +x compose/start

          cat > compose/temporal-django-worker <<EOF
          #!/bin/bash
          ./bin/temporal-django-worker
          EOF
          chmod +x compose/temporal-django-worker

          # write wait script
          cat > compose/wait <<EOF
          #!/usr/bin/env python3

          import socket
          import time

          def loop():
              print("Waiting for ClickHouse and Postgres to be ready")
              try:
                  with socket.socket(socket.AF_INET, socket.SOCK_STREAM) as s:
                      s.connect(('clickhouse', 9000))
                  print("Clickhouse is ready")
                  with socket.socket(socket.AF_INET, socket.SOCK_STREAM) as s:
                      s.connect(('db', 5432))
                  print("Postgres is ready")
              except ConnectionRefusedError as e:
                  time.sleep(5)
                  loop()

          loop()
          EOF
          chmod +x compose/wait

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push ${{ matrix.image }}
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ${{ matrix.dockerfile }}
          tags: ${{ env.IMAGE_PREFIX }}/${{ matrix.image }}:latest
          push: true
